<%- include("templates/cabecera", {subtitulo: "Panel de Usuarios"})%>

    <div class="container">
        <h1>Crear usuario</h1>
        <a href="/users/crear" class="btn btn-success btn-block my-4">Crear Usuario</a>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Icono</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apodo</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Saldo</th>
                    <th scope="col">Puntos</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayUser.length> 0) { %>
                    <!--Haremos el foreach para recorrer el array-->
                    <% arrayUser.forEach(user => { %>
                        <tr>
                            <th scope="row"><%= user.id %></th>
                            <td>
                            <img src="<%= user.foto %>" alt="<%= user.nombre %>" style="width: 50px; height: auto;">
                            </td>
                            <td><%= user.nombre %></td>
                            <td><%= user.apodo %></td>
                            <td><%= user.correo %></td>
                            <td><%= user.saldo %></td>
                            <td><%= user.puntos %></td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="user/<%= user.id %>">Editar/Eliminar</a>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>

        </table>
    </div>
    
<%- include("templates/footer") %>